<div class="box nested-form-wrapper" data-new-record="<%= form.object.new_record? %>">
  <div class="columns">
    <div class="column field">
      <%= form.label :variables, class: "label" %>
      <%= form.text_area :variables, value: form.object.variables&.to_json, class: "textarea" %>
      <p class="help is-danger"><%= form.object.errors.full_messages_for(:variables).join(", ") %></p>
    </div>

    <div class="column field">
      <%= form.label :eval_type, class: "label" %>
      <div class="select is-fullwidth">
        <%= form.select :eval_type, RubyLLM::Evals::Sample.eval_types %>
      </div>
      <p class="help is-danger"><%= form.object.errors.full_messages_for(:eval_type).join(", ") %></p>
    </div>

    <div class="column field">
      <%= form.label :expected_output, class: "label" %>
      <%= form.text_area :expected_output, class: "textarea" %>
      <p class="help is-danger"><%= form.object.errors.full_messages_for(:expected_output).join(", ") %></p>
    </div>

    <div class="column field">
      <%= form.label :files, "Attach files", class: "label" %>

      <% if form.object.persisted? && form.object.files.attached? %>
        <% form.object.files.each do |file| %>
          <%= form.hidden_field :files, multiple: true, value: file.signed_id %>
        <% end %>
      <% end %>

      <div class="file has-name is-fullwidth" data-controller="file-input">
        <label class="file-label">
          <%= form.file_field :files, multiple: true, class: "file-input", data: { action: "change->file-input#update", file_input_target: "input" } %>
          <span class="file-cta">
            <span class="file-label">Choose files...</span>
          </span>
          <span class="file-name" data-file-input-target="name">No files selected</span>
        </label>
      </div>

      <% if form.object.persisted? && form.object.files.any? %>
        <div>
          <p>Current attachments:</p>
          <ul>
            <% form.object.files.each do |file| %>
              <li>
                <span><%= file.filename %> (<%= number_to_human_size(file.byte_size) %>)</span>
                <%= link_to "Remove", main_app.rails_blob_path(file, disposition: "attachment"), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <button type="button" class="button is-danger is-outlined" data-action="nested-form#remove">Remove sample</button>
  </div>

  <%= form.hidden_field :_destroy %>
</div>
