<div class="box nested-form-wrapper" data-new-record="<%= form.object.new_record? %>" data-controller="eval-type-selector">
  <div class="columns">
    <div class="column field">
      <%= form.label :variables, class: "label" %>
      <div data-controller="json-editor" data-json-editor-height-value="150px">
        <div data-json-editor-target="editor" class="json-editor"></div>
        <%= form.text_area :variables, value: form.object.variables&.to_json, class: "textarea", data: { json_editor_target: "textarea" } %>
        <p class="help is-danger is-hidden" data-json-editor-target="error"></p>
      </div>
      <p class="help is-danger"><%= form.object.errors.full_messages_for(:variables).join(", ") %></p>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :eval_type, class: "label" %>
        <div class="select is-fullwidth">
          <%= form.select :eval_type, RubyLLM::Evals::Sample.eval_types, {}, data: { action: "change->eval-type-selector#toggle", eval_type_selector_target: "select" } %>
        </div>
        <p class="help is-danger"><%= form.object.errors.full_messages_for(:eval_type).join(", ") %></p>
      </div>

      <div data-eval-type-selector-target="judgeFields" data-controller="provider-model" data-provider-model-models-by-provider-value="<%= models_by_provider_data %>" style="<%= 'display: none;' unless form.object.llm_judge? %>">
        <div class="field">
          <%= form.label :judge_provider, class: "label" %>
          <div class="select is-fullwidth">
            <%= form.select :judge_provider, options_for_select(RubyLLM.providers.map { [_1.name, _1.slug] }, form.object.judge_provider), { include_blank: true }, data: { provider_model_target: "provider", action: "change->provider-model#provider-changed" } %>
          </div>
          <p class="help is-danger"><%= form.object.errors.full_messages_for(:judge_provider).join(", ") %></p>
        </div>

        <div class="field">
          <%= form.label :judge_model, class: "label" %>
          <div class="select is-fullwidth is-hidden" data-provider-model-target="modelSelectWrapper">
            <%= form.select :judge_model, [], {}, { class: "input", name: nil, data: { provider_model_target: "modelSelect", action: "change->provider-model#syncToInput" } } %>
          </div>
          <%= form.text_field :judge_model, class: "input", data: { provider_model_target: "modelInput" } %>
          <p class="help is-danger"><%= form.object.errors.full_messages_for(:judge_model).join(", ") %></p>
        </div>
      </div>
    </div>

    <div class="column field" data-eval-type-selector-target="expectedOutput" style="<%= 'display: none;' if form.object.human_judge? %>">
      <%= form.label :expected_output, class: "label" %>
      <%= form.text_area :expected_output, class: "textarea" %>
      <p class="help is-danger"><%= form.object.errors.full_messages_for(:expected_output).join(", ") %></p>
    </div>

    <div class="column field">
      <%= form.label :files, "Attach files", class: "label" %>

      <% if form.object.persisted? && form.object.files.attached? %>
        <% form.object.files.each do |file| %>
          <%= form.hidden_field :files, multiple: true, value: file.signed_id %>
        <% end %>
      <% end %>

      <div class="file has-name is-fullwidth" data-controller="file-input">
        <label class="file-label">
          <%= form.file_field :files, multiple: true, class: "file-input", data: { action: "change->file-input#update", file_input_target: "input" } %>
          <span class="file-cta">
            <span class="file-label">Choose files...</span>
          </span>
          <span class="file-name" data-file-input-target="name">No files selected</span>
        </label>
      </div>

      <% if form.object.persisted? && form.object.files.any? %>
        <div>
          <p>Current attachments:</p>
          <ul>
            <% form.object.files.each do |file| %>
              <li>
                <span><%= file.filename %> (<%= number_to_human_size(file.byte_size) %>)</span>
                <%= link_to "Remove", main_app.rails_blob_path(file, disposition: "attachment"), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <button type="button" class="button is-danger is-outlined" data-action="nested-form#remove">Remove sample</button>
  </div>

  <%= form.hidden_field :_destroy %>
</div>
