<tr>
  <td><%= link_to "##{eval_result.id}", eval_result_path(eval_result) %></td>
  <td><%= link_to eval_result.prompt.name, eval_result.prompt %></td>
  <td><%= eval_result.provider %>/<%= eval_result.model %></td>
  <td><%= truncate eval_result.instructions %></td>
  <td><%= truncate eval_result.message %></td>
  <td><%= eval_result.started_at %></td>
  <td><%= eval_result.ended_at %></td>
  <td><%= eval_result.finished? ? distance_of_time_in_words(eval_result.started_at, eval_result.ended_at, include_seconds: true) : "N/A" %></td>
  <td><%= eval_result.finished? ? "#{eval_result.accuracy}%" : "N/A" %></td>
  <td>$<%= eval_result.cost %></td>
  <td><%= button_to "Destroy", eval_result, method: :delete, class: "button is-danger" %></td>
</tr>
