<%= form_with(model: prompt, data: { controller: "nested-form provider-model schema-selector", nested_form_wrapper_selector_value: ".nested-form-wrapper", provider_model_models_by_provider_value: models_by_provider_data }) do |form| %>
  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:name).join(", ") %></p>
  </div>

  <div class="field">
    <%= form.label :provider, class: "label" %>
    <div class="select is-fullwidth">
      <%= form.select :provider, options_for_select(RubyLLM.providers.map { [_1.name, _1.slug] }, prompt.provider), { include_blank: true }, data: { provider_model_target: "provider", action: "change->provider-model#provider-changed" } %>
    </div>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:provider).join(", ") %></p>
  </div>

  <div class="field">
    <%= form.label :model, class: "label" %>
    <div class="select is-fullwidth is-hidden" data-provider-model-target="modelSelectWrapper">
      <%= form.select :model, [], {}, { class: "input", name: nil, data: { provider_model_target: "modelSelect", action: "change->provider-model#syncToInput" } } %>
    </div>
    <%= form.text_field :model, class: "input", data: { provider_model_target: "modelInput" } %>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:model).join(", ") %></p>
  </div>

  <div class="field">
    <%= form.label :temperature, class: "label" %>
    <%= form.number_field :temperature, min: 0, max: 1, step: 0.1, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :params, class: "label" %>
    <div data-controller="json-editor" data-json-editor-height-value="200px">
      <div data-json-editor-target="editor" class="json-editor"></div>
      <%= form.text_area :params, value: prompt.params&.to_json, class: "textarea", data: { json_editor_target: "textarea" } %>
      <p class="help is-danger is-hidden" data-json-editor-target="error"></p>
    </div>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:params).join(", ") %></p>
  </div>

  <div class="field">
    <%= form.label :tools, class: "label" %>
    <div class="select is-multiple is-fullwidth">
      <%= form.select :tools, options_for_select(available_tools, prompt.tools), {}, { multiple: true, size: 4 } %>
    </div>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:tools).join(", ") %></p>
  </div>

  <div class="field">
    <%= form.label :schema, class: "label" %>
    <div class="control">
      <div class="select is-fullwidth">
        <%= form.select :schema, schema_options_for_select(prompt), { include_blank: true }, data: { schema_selector_target: "schemaSelect", action: "change->schema-selector#schemaChanged" } %>
      </div>
    </div>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:schema).join(", ") %></p>
  </div>

  <div class="field is-hidden" data-schema-selector-target="schemaOtherField">
    <%= form.label :schema_other, "Custom schema", class: "label" %>
    <div class="control">
      <div data-controller="json-editor" data-json-editor-height-value="250px">
        <div data-json-editor-target="editor" class="json-editor"></div>
        <%= form.text_area :schema_other, value: prompt.schema_other&.to_json, class: "textarea", data: { json_editor_target: "textarea" } %>
        <p class="help is-danger is-hidden" data-json-editor-target="error"></p>
      </div>
    </div>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:schema_other).join(", ") %></p>
  </div>

  <div class="field">
    <%= form.label :thinking_effort, class: "label" %>
    <%= form.text_field :thinking_effort, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :thinking_budget, class: "label" %>
    <%= form.number_field :thinking_budget, min: 0, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :instructions, class: "label" %>
    <%= form.text_area :instructions, class: "textarea" %>
    <p class="help">You can use liquid tags.</p>
  </div>

  <div class="field">
    <%= form.label :message, class: "label" %>
    <%= form.text_area :message, class: "textarea" %>
    <p class="help">You can use liquid tags.</p>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:message).join(", ") %></p>
  </div>

  <h2 class="mt-6 subtitle">Samples</h2>

  <template data-nested-form-target="template">
    <%= form.fields_for :samples, RubyLLM::Evals::Sample.new, child_index: "NEW_RECORD" do |sample_fields| %>
      <%= render "ruby_llm/evals/samples/form", form: sample_fields %>
    <% end %>
  </template>

  <%= form.fields_for :samples do |sample_fields| %>
    <%= render "ruby_llm/evals/samples/form", form: sample_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <div class="field">
    <button type="button" class="button" data-action="nested-form#add">Add sample</button>
  </div>

  <div class="mt-6">
    <%= form.submit class: "button is-link" %>
  </div>
<% end %>
