<% content_for :title, @prompt.name %>

<h1 class="title"><%= @prompt.name %></h1>

<table class="table">
  <tbody>
    <tr>
      <th>Slug</th>
      <td><%= @prompt.slug %></td>
    </tr>
    <tr>
      <th>Provider</th>
      <td><%= @prompt.provider %></td>
    </tr>
    <tr>
      <th>Model</th>
      <td><%= @prompt.model %></td>
    </tr>
    <tr>
      <th>Temperature</th>
      <td><%= @prompt.temperature %></td>
    </tr>
    <tr>
      <th>Params</th>
      <td><%= json @prompt.params %></td>
    </tr>
    <tr>
      <th>Tools</th>
      <td><%= @prompt.tools.try :to_sentence %></td>
    </tr>
    <tr>
      <th>Schema</th>
      <td>
        <% if @prompt.schema_other.present? %>
          <%= json @prompt.schema_other %>
        <% elsif @prompt.schema.present? %>
          <%= @prompt.schema %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Instructions</th>
      <td style="white-space: pre-wrap;"><%= @prompt.instructions %></td>
    </tr>
    <tr>
      <th>Message</th>
      <td style="white-space: pre-wrap;"><%= @prompt.message %></td>
    </tr>
  </tbody>
</table>

<h2 class="mt-6 subtitle">Samples</h2>

<% if @prompt.samples.any? %>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Variables</th>
        <th>Eval type</th>
        <th>Expected output</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
      <% @prompt.samples.each do |sample| %>
        <tr>
          <td><%= json sample.variables %></td>
          <td><%= sample.eval_type %></td>
          <td><%= expected_output sample %></td>
          <td>
            <ul>
              <% sample.files.each do |file| %>
                <li>
                  <% if file.previewable? %>
                    <%= image_tag main_app.url_for(file.preview(resize_to_limit: [400, 400]).processed) %>
                  <% elsif file.variable? %>
                    <%= image_tag main_app.url_for(file.variant(resize_to_limit: [400, 400]).processed) %>
                  <% else %>
                    <%= link_to file.filename, main_app.url_for(file) %>
                  <% end %>
                  <div><%= link_to file.filename, main_app.rails_blob_path(file, disposition: "attachment") %> (<%= number_to_human_size(file.byte_size) %>)</div>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="mt-6 has-text-centered is-size-4 has-text-grey">There are no samples</div>
<% end %>

<div class="mt-6 buttons">
  <%= link_to "Edit this prompt", edit_prompt_path(@prompt), class: "button" %>
  <%= button_to "Destroy this prompt", @prompt, method: :delete, class: "button is-danger" %>
</div>
