<%= form_with(model: prompt, data: { controller: "nested-form provider-model", nested_form_wrapper_selector_value: ".nested-form-wrapper", provider_model_models_by_provider_value: models_by_provider_data }) do |form| %>
  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:name).join(", ") %></p>
  </div>

  <div class="field">
    <%= form.label :provider, class: "label" %>
    <div class="select is-fullwidth">
      <%= form.select :provider, options_for_select(RubyLLM.providers.map { [_1.name, _1.slug] }, prompt.provider), { include_blank: true }, data: { provider_model_target: "provider", action: "change->provider-model#provider-changed" } %>
    </div>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:provider).join(", ") %></p>
  </div>

  <div class="field">
    <%= form.label :model, class: "label" %>
    <div class="select is-fullwidth is-hidden" data-provider-model-target="modelSelectWrapper">
      <%= form.select :model, [], {}, { class: "input", name: nil, data: { provider_model_target: "modelSelect", action: "change->provider-model#syncToInput" } } %>
    </div>
    <%= form.text_field :model, class: "input", data: { provider_model_target: "modelInput" } %>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:model).join(", ") %></p>
  </div>

  <div class="field">
    <%= form.label :instructions, class: "label" %>
    <%= form.textarea :instructions, class: "textarea" %>
  </div>

  <div class="field">
    <%= form.label :message, class: "label" %>
    <%= form.textarea :message, class: "textarea" %>
    <p class="help is-danger"><%= prompt.errors.full_messages_for(:message).join(", ") %></p>
  </div>

  <h2 class="mt-6 subtitle">Eval examples</h2>

  <template data-nested-form-target="template">
    <%= form.fields_for :eval_examples, PromptBench::EvalExample.new, child_index: "NEW_RECORD" do |eval_example_fields| %>
      <%= render "prompt_bench/eval_examples/form", form: eval_example_fields %>
    <% end %>
  </template>

  <%= form.fields_for :eval_examples do |eval_example_fields| %>
    <%= render "prompt_bench/eval_examples/form", form: eval_example_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <div class="field">
    <button type="button" class="button" data-action="nested-form#add">Add eval example</button>
  </div>

  <div class="mt-6">
    <%= form.submit class: "button is-link" %>
  </div>
<% end %>
