<h1 class="title"><%= @prompt.name %></h1>

<table class="table">
  <tbody>
    <tr>
      <th>Slug</th>
      <td><%= @prompt.slug %></td>
    </tr>
    <tr>
      <th>Provider</th>
      <td><%= @prompt.provider %></td>
    </tr>
    <tr>
      <th>Model</th>
      <td><%= @prompt.model %></td>
    </tr>
    <tr>
      <th>Instructions</th>
      <td><%= @prompt.instructions %></td>
    </tr>
    <tr>
      <th>Message</th>
      <td><%= @prompt.message %></td>
    </tr>
  </tbody>
</table>

<h2 class="mt-6 subtitle">Eval examples</h2>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Variables</th>
      <th>Eval type</th>
      <th>Expected output</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    <% @prompt.eval_examples.each do |eval_example| %>
      <tr>
        <td><pre><%= eval_example.variables.to_json %></pre></td>
        <td><%= eval_example.eval_type %></td>
        <td><%= eval_example.expected_output %></td>
        <td>
          <ul>
            <% eval_example.files.each do |file| %>
              <li>
                <% if file.previewable? %>
                  <%= image_tag main_app.url_for(file.preview(resize_to_limit: [400, 400]).processed) %>
                <% elsif file.variable? %>
                  <%= image_tag main_app.url_for(file.variant(resize_to_limit: [400, 400]).processed) %>
                <% else %>
                  <%= link_to file.filename, main_app.url_for(file) %>
                <% end %>
                <div><%= link_to file.filename, main_app.rails_blob_path(file, disposition: "attachment") %> (<%= number_to_human_size(file.byte_size) %>)</div>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-6 buttons">
  <%= link_to "Edit this prompt", edit_prompt_path(@prompt), class: "button" %>
  <%= button_to "Destroy this prompt", @prompt, method: :delete, class: "button is-danger" %>
</div>
