<!DOCTYPE html>
<html>
<head>
  <title>Prompt evaluation</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-cache-control" content="no-cache">

  <%= yield :head %>

  <%= stylesheet_link_tag "prompt_bench/bulma.min" %>
  <%= stylesheet_link_tag "prompt_bench/application", media: "all" %>
  <%= javascript_importmap_tags importmap: PromptBench.importmap %>
</head>
<body>

  <section class="section">
    <div class="container">
      <%= render "flashes" %>
      <%= render "nav" %>
      <%= render "tabs" %>
      <%= yield %>
    </div>
  </section>

</body>
</html>
